.active {
    color: wheat;
}
.header-full{
    background-color: black;
    border-bottom:  1px solid #f8f7f43b;
    opacity: .80;
}
.button-logout{
    box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #1c2220 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.header-name {
    text-decoration: none;
}
.logo-shop {
	position: absolute;
	top: 0%;
	
}